.first-wrap {
  background-image: url("../images/pattern.webp");
  margin: 0px 5px;
}
h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: Khaki;
  text-align: center;
}
.brushes {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
  margin: 0px 5px;
}
span {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
.frames {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
  margin: 0px 5px;
}
.paint {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
  margin: 0px 5px;
}
#all-wraper {
  width: 1200px;
  border: 2px solid rgb(245, 49, 49);
  margin: auto;
}
figure {
  padding-left: auto;
}
p {
  margin: 0px 5px;
}
